
  
  
  <div class="block-31" style="position: relative;">
    <div class="owl-carousel loop-block-31 ">
      <div class="block-30 block-30-sm item" style="background-image: url('assets/images/bg_2.jpg');" data-stellar-background-ratio="0.5">
        <div class="container">
          <div class="row align-items-center justify-content-center">
            <div class="col-md-7 text-center">
              <h2 class="heading">About The Organization</h2>
            </div>
          </div>
        </div>
      </div>
      
    </div>
  </div>
  
  <div class="site-section mb-5">
    <div class="container">
      <div class="row mb-5">
        <div class="col-md-12 mb-5"><h1>Our History</h1></div>
        <div class="col-md-6">
            <p class="lead">Solidarity Solutions was founded with a vision to harness technology for humanitarian and social impact. From the beginning, our goal has been to create innovative tools that connect donors, beneficiaries, and organizations, making solidarity more accessible and effective.

              With the launch of Hands of Hope, we expanded our efforts to support refugees and vulnerable communities by facilitating donations, coordinating humanitarian actions, and providing digital solutions for social good.</p>
            
          </div>
          <div class="col-md-6">
            <p class="lead">Through partnerships with NGOs, governments, and local associations, we continue to grow, driven by our commitment to transparency, inclusion, and lasting impact.
              
              Today, we stand as a bridge between those who want to help and those in need, working together to build a more compassionate world.</p>
          </div>
      </div>
      
      <div class="row mt-5">
        <div class="col-md-12 mb-5 text-center mt-5">
          <h2>Leadership</h2>
        </div>
        <div class="col-md-6 col-lg-3">
          <div class="block-38 text-center">
            <div class="block-38-img">
              <div class="block-38-header">
                <img src="assets/images/person_1.jpg" alt="Image placeholder">
                <h3 class="block-38-heading">Greeg Graham</h3>
                <p class="block-38-subheading">CEO</p>
              </div>
              <div class="block-38-body">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae aut minima nihil sit distinctio recusandae doloribus ut fugit officia voluptate soluta. </p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-3">
          <div class="block-38 text-center">
            <div class="block-38-img">
              <div class="block-38-header">
                <img src="assets/images/person_2.jpg" alt="Image placeholder">
                <h3 class="block-38-heading">Jennifer Greive</h3>
                <p class="block-38-subheading">President</p>
              </div>
              <div class="block-38-body">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae aut minima nihil sit distinctio recusandae doloribus ut fugit officia voluptate soluta. </p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-3">
          <div class="block-38 text-center">
            <div class="block-38-img">
              <div class="block-38-header">
                <img src="assets/images/person_3.jpg" alt="Image placeholder">
                <h3 class="block-38-heading">Patrick Marx</h3>
                <p class="block-38-subheading">Marketer</p>
              </div>
              <div class="block-38-body">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae aut minima nihil sit distinctio recusandae doloribus ut fugit officia voluptate soluta. </p>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-lg-3">
          <div class="block-38 text-center">
            <div class="block-38-img">
              <div class="block-38-header">
                <img src="assets/images/person_4.jpg" alt="Image placeholder">
                <h3 class="block-38-heading">Mike Coolbert</h3>
                <p class="block-38-subheading">Partner</p>
              </div>
              <div class="block-38-body">
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae aut minima nihil sit distinctio recusandae doloribus ut fugit officia voluptate soluta. </p>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

  <div class="site-section">
    <div class="container">
      <div class="block-31 mb-5" style="position: relative;">
          <div class="owl-carousel loop-block-31">
            <div class="block-30 no-overlay item" style="background-image: url('assets/images/bg_2.jpg');"></div>
            <div class="block-30 no-overlay item" style="background-image: url('assets/images/bg_1.jpg');"></div>
            <div class="block-30 no-overlay item" style="background-image: url('assets/images/bg_3.jpg');"></div>
          </div>
        </div>
    </div>
  </div>

  <div class="site-section border-top">
    <div class="container">
      <div class="row">

        <div class="col-md-4">
          <div class="media block-6">
            <div class="icon"><span class="ion-ios-bulb"></span></div>
            <div class="media-body">
              <h3 class="heading">Our Mission</h3>
              <p>Our mission is to create a positive impact by supporting those in need,
                fostering solidarity, and empowering communities through innovative and
                 compassionate initiatives.</p>
              <p><a href="#" class="link-underline">Learn More</a></p>
            </div>
          </div>     
        </div>

        <div class="col-md-4">
          <div class="media block-6">
            <div class="icon"><span class="ion-ios-cash"></span></div>
            <div class="media-body">
              <h3 class="heading">Make Donations</h3>
              <p>Support a cause and make an impact
                donate today to help those in need.</p>
              <p><a href="#" class="link-underline">Learn More</a></p>
            </div>
          </div>  
        </div>

        <div class="col-md-4">
          <div class="media block-6">
            <div class="icon"><span class="ion-ios-contacts"></span></div>
            <div class="media-body">
              <h3 class="heading">We Need Volunteers</h3>
              <p>Join us and make a difference become a volunteer today.</p>
              <p><a href="#" class="link-underline">Learn More</a></p>
            </div>
          </div> 
        </div>

      </div>
    </div>
  </div> 
  
  