/* You can add global styles to this file, and also import other style files */
@import "bootstrap/dist/css/bootstrap.min.css";
@import "@fortawesome/fontawesome-free/css/all.css";
/* todo add the emoji styles */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
.user-img{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  overflow: hidden;
  >img{
    width: 100%;
  }
}
